/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.recipe{
  padding-bottom: 2rem;
}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.add-recipe{
  width: 100%;
}




a {
  text-decoration: none;
  color: #4caf50;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.active{
  color:black !important;
  background-color: rgb(192, 255, 236);
}

.container {
  margin-top: 80px;
}
